/* Títulos */
h2, h3 {
    color: #333;
    font-size: 24px;
    text-align: left;
}

/* Listas numeradas */
ol {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 20px 0;
}

/* Listas não numeradas */
ul {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 20px 0;
}

/* Lista de definições */
dl {
    margin: 20px 0;
}

dt {
    font-weight: bold;
    color: #0056b3;
}

dd {
    margin-left: 20px;
    color: #333;
}

table {
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
}

