/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Navegação */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 5px 0 0 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background: #444;
    text-decoration: none;
}

/* Layout principal */
main {
    /* Flexbox no contêiner principal */
    display: flex;
    /* Espaço entre as colunas */
    gap: 20px;
    padding: 20px;
}

/* Conteúdo principal */
#conteudo {
    /* O conteúdo principal ocupa 3/4 da largura */
    flex: 3;
    display: flex;
    /* Empilha as seções verticalmente */
    flex-direction: column;
    /* Espaçamento entre seções */
    gap: 20px;
}

/* Seções principais */
section {
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    /* Bordas arredondadas */
    border-radius: 8px;
    /* Sombra deslocada 4px p/ baixo, desfoque suave 6px e transparência 10% */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Artigos */
article {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    /* Bordas arredondadas */
    border-radius: 8px;
    /* Sombra deslocada 4px p/ baixo, desfoque suave 6px e transparência 10% */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Barra lateral */
aside {
    flex: 1;
    /* O aside ocupa 1/4 da largura */
    background: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    /* Faz o aside ocupar toda a altura do main */
    height: auto;
    /* Bordas arredondadas */
    border-radius: 8px;
    /* Sombra deslocada 4px p/ baixo, desfoque suave 6px e transparência 10% */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Rodapé */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer a {
    color: antiquewhite;
    text-decoration: none;
}

footer a:hover {
    color: antiquewhite;
    text-decoration: underline;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column; /* Links na vertical */
        text-align: left;
        gap: 10px; /* Espaçamento entre os links */
    }

    nav ul li {
        margin: 4px 0; /* Espaçamento entre os itens */
    }

    main {
        flex-direction: column; /* Elementos empilhados */
    }

    footer
    {
        padding: 10px 20px;
    }
}